In [1]:
import pygmo as pg
import numpy as np
import pandas as pd
import sys, os 
main_folder = './../'
if main_folder not in sys.path:
    sys.path.append(main_folder)
from evolution import DifferentialEvolution

In [6]:
de = DifferentialEvolution(dim=2, func_id=1, pop_size=10, crossover='exponential', opposition=True, mutation='mixed', lambda_mutation=.5)
print ("#Generations: ", de.generations)
print ("Mutation: ", de.mutation, 'Lambda', de.lambda_mutation, 'CR', de.crossover)
de.population

#Generations:  0
Mutation:  mixed Lambda 0.5 CR exponential

           0          1       Fitness
0  -1.607967 -14.779298  1.770457e+08
1   1.607967  14.779298  5.250598e+08
2  52.665358   9.730788  6.489444e+08
3  13.990645 -88.255567  1.020860e+09
4  90.720046  16.796908  3.243575e+09
5 -52.665358  -9.730788  3.806155e+09
6 -13.990645  88.255567  4.647166e+09
7  72.185488 -90.354335  7.319634e+09
8 -90.720046 -16.796908  8.681036e+09
9 -72.185488  90.354335  1.482899e+10

In [7]:
for i in np.arange(1):
    generation = de.generate()
print ("#Generations: ", de.generations)
generation

#Generations:  1

           0          1       Fitness
0  -1.607967 -14.779298  1.770457e+08
1   1.607967  14.779298  5.250598e+08
2  52.665358   9.730788  6.489444e+08
3  13.990645 -88.255567  1.020860e+09
4  20.238310 -60.232985  6.625071e+08
5  69.332775  43.624099  6.871927e+08
6  96.672281  31.475164  3.150140e+09
7  26.321869 -43.813757  5.902137e+08
8 -43.412212 -89.921480  3.741257e+08
9  15.219514  68.253877  1.104716e+09

In [9]:
generation.iloc[:, :-1]

           0          1
0  -1.607967 -14.779298
1   1.607967  14.779298
2  52.665358   9.730788
3  13.990645 -88.255567
4  20.238310 -60.232985
5  69.332775  43.624099
6  96.672281  31.475164
7  26.321869 -43.813757
8 -43.412212 -89.921480
9  15.219514  68.253877

In [15]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=3, n_jobs=-1, verbose=True)

In [16]:
kmeans

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=-1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=True)

In [17]:
kmeans.fit(generation.iloc[:, :-1])

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=-1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=True)

In [52]:
df_clusters = pd.DataFrame(kmeans.labels_, columns=['index'])
df_clusters

   index
0      2
1      2
2      1
3      0
4      0
5      1
6      1
7      0
8      0
9      2

In [22]:
pd.DataFrame(kmeans.cluster_centers_)

           0          1
0   4.284653 -70.555947
1  72.890138  28.276684
2   5.073171  22.751292

In [54]:
fitness = pd.DataFrame(kmeans.cluster_centers_).apply(de.get_fitness, axis=1).copy()
df_fitness = pd.DataFrame(fitness, columns=['fitness'])
df_fitness.reset_index(drop = False, inplace=True)
df_fitness

   index       fitness
0      0  2.452717e+08
1      1  1.291560e+09
2      2  5.360318e+08

In [55]:
pd.merge(df_clusters, df_fitness, on='index', how='inner')['fitness']

0    5.360318e+08
1    5.360318e+08
2    5.360318e+08
3    1.291560e+09
4    1.291560e+09
5    1.291560e+09
6    2.452717e+08
7    2.452717e+08
8    2.452717e+08
9    2.452717e+08
Name: fitness, dtype: float64

In [49]:
generation.iloc[:, :-1]

           0          1
0  -1.607967 -14.779298
1   1.607967  14.779298
2  52.665358   9.730788
3  13.990645 -88.255567
4  20.238310 -60.232985
5  69.332775  43.624099
6  96.672281  31.475164
7  26.321869 -43.813757
8 -43.412212 -89.921480
9  15.219514  68.253877